.tick line {
  stroke: #888;
}

.tick:first-of-type line {
  stroke: #000;
}

.area {
  fill: lightblue;
  stroke-width: 0;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: pink;
  border: 0px;
  border-radius: 8px;
}